body {
    background-color: #def1fa;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.login-container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.login-card {
    border-radius: 15px;
}

.card-header {
    background-color: #06388f;
    color: white;
    border-radius: 15px 15px 0 0;
    text-align: center;
    padding: 20px;
}

.card-header img {
    width: 240px; 
    margin-bottom: 15px;
    border: 12px solid white;
}

.btn {
    background-color:#06388f;
    color: white;
    border: none;
    padding: 10px;
    font-weight: 500;
    transition: all 0.3s;
}

.btn:hover {
    background-color: #42a4ff;
}

.form-control:focus {
    border-color: #143bff;
}

.error-message {
    color: #dc3545;
    font-size: 0.875rem;
    margin-top: 5px;
    display: none;
}